<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        
                        <div class="cta-text">
                            <h4  href="https://wa.link/fmfw8a" type="submit">Whatsapp </h4>
                            <a href="https://wa.link/fmfw8a"><i class="fab fa-whatsapp"></i></a>
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail</h4>
                            <span>academiadagda@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../../../assets/images/dagda.png" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Somos una academia ...</p>
                        </div>
                      
                        <span>Siganos en</span>
                        <div class="conT">
                            <a href="#contact"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#contact"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#contact"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#contact"><i class="fa-brands fa-youtube"></i></a>
                            <a  href="https://instagram.com/academiadagda?igshid=ZDc4ODBmNjlmNQ=="><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Sitios</h3>
                        </div>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Acerca</a></li>
                            <li><a href="#">servicios</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>
                   
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Enviar Correo</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>En caso de no poder crear una cuenta por favor envianos su correo para crearle una cuenta  </p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-sponsor></app-sponsor> 
   
    <div class="copyright-area" style="height: 5px;">
        
        <div class="container">
            <div class="row">
                
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023 <a href="https://codepen.io/anupkumar92/">Dagda</a></p>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
    
</footer>
