<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="margin-top: 65px; width: 100%;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="height: 100%;">

    <div class="carousel-item active" style="height: 100%;">
      <img src="../../../../assets/images/10dedescuento.jpg" alt="imagen de servicios" style="object-fit: cover; width: 100%; height: 100%;" />
      <div class="container">
        <div class="carousel-caption text-start"></div>
      </div>
    </div>

    <div class="carousel-item" style="height: 100%;">
      <img src="../../../../assets/images/Imagen de WhatsApp 2023-06-28 a las 20.18.22.jpg" alt="imagen de servicios" style="object-fit: cover; width: 100%; height: 100%;" />
      <div class="container">
        <div class="carousel-caption"></div>
      </div>
    </div>

    <div class="carousel-item" style="height: 100%;">
      <img src="../../../../assets/images/aprendisaje-online.jpg" style="object-fit: cover; width: 100%; height: 100%;" />
      <div class="container">
        <div class="carousel-caption text-end"></div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- 
Proyecto de Jairo para colaborar
<head>
  <title>Seleccionar palabra en una canción</title>
  <style>
    .cancion {
      font-size: 18px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Selecciona una palabra en la canción</h1>
    <tr *ngFor="let palabra of cancionConPosiciones; let i  = index">
    <td (click)="seleccionarAcorde(i)">{{palabra}} posicion {{i}}</td>
    <td ><div *ngIf="eligirAcorde">
      <div >
        <label class="form-label">Categoria</label>
            <select formControlName="categoria" class="form-control">
              <option *ngFor="let opcion of acorde" [value]="opcion">{{ opcion }}</option>
            </select>
      </div>
    </div></td>

    
    
  </tr>
</body> -->


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

   <app-presentacion></app-presentacion>
     
    <div class="container marketing">
      <app-get-all-curso></app-get-all-curso>
    </div>
    <!-- /.container -->
   