
/*for Demo Only*/
.demo-row {
  
  padding: 10px 0;
  transform: scale(0.5);
}


/*Implement*/
.sponsor-feature {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    min-height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0; 
}

#id-sponsors .carousel {
    margin-bottom: 10px;
}
#id-sponsors .item {
    padding-bottom: 10px;
    margin-left: 200px;
}
#id-sponsors .carousel-indicators {
    bottom: -25px;
}
