.calendario-container {
    max-width: 500px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
  
  .calendario-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .actividad {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .dia {
    font-size: 18px;
    font-weight: bold;
    color: #007acc;
  }
  
  .detalle {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
  }


  
  .cal-day-number {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .cal-event-title {
    white-space: normal;
    word-break: break-word;
    font-size: 13px;
    color: #444;
  }
  
  .bg-highlight {
    background-color: #f0f8ff;
  }
  
/* Para la clase .calendario-container, se puede agregar un borde y un color de fondo para que se vea más atractivo. */
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
  }
  
  /* Anchos máximos según el tamaño de pantalla */
  @media (min-width: 300px) { /* sm */
    .truncate-text {
      max-width: 5px;
    }
  }

  /* Anchos máximos según el tamaño de pantalla */
@media (min-width: 640px) { /* sm */
  .truncate-text {
    max-width: 50px;
  }
}

@media (min-width: 768px) { /* md */
  .truncate-text {
    max-width: 100px;
  }
}

@media (min-width: 1024px) { /* lg */
  .truncate-text {
    max-width: 150px;
  }
}