<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <div *ngFor="let month of months">
    <h3 class="text-center font-bold mb-2">
      {{ month | date: 'MMMM yyyy' }}
    </h3>

    <mwl-calendar-month-view
      [viewDate]="month"
      [events]="events"
      (dayClicked)="addEvent($event.day.date)">
    </mwl-calendar-month-view>
  </div>
</div> -->


<!-- Por Mes y ver directamente el texto -->
<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <div *ngFor="let month of months">
    <h3 class="text-center font-bold mb-2">
      {{ month | date: 'MMMM yyyy' }}
    </h3>

    <mwl-calendar-month-view
      [viewDate]="month"
      [events]="events"
      (dayClicked)="addEvent($event.day.date)"
      [cellTemplate]="customDayTemplate">
    </mwl-calendar-month-view>
  </div>
</div> -->

<!-- Plantilla personalizada del día -->
<!-- <ng-template #customDayTemplate let-day="day">
  <div class="cal-day-cell" [class.bg-highlight]="day.isToday">
    <div class="cal-day-number">{{ day.date | date: 'd' }}</div>
    <div class="cal-day-events">
      <div *ngFor="let event of day.events" class="cal-event-title">
        - {{ event.title }}
      </div>
    </div>
  </div>
</ng-template> -->



<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <div *ngFor="let month of months">
    <h3 class="text-center font-bold mb-2">
      {{ month | date: 'MMMM yyyy' }}
    </h3>

    <mwl-calendar-month-view
      [viewDate]="month"
      [events]="events"
      (dayClicked)="addEvent($event.day.date)"
      [cellTemplate]="customDayTemplate">
    </mwl-calendar-month-view>
  </div>
</div>

<!-- Plantilla personalizada del día -->
<ng-template #customDayTemplate let-day="day">
  <div class="cal-day-cell" [class.bg-highlight]="day.isToday">
    <div class="cal-day-number">{{ day.date | date: 'd' }}</div>
    <div class="cal-day-events">
      <div *ngFor="let event of day.events" class="cal-event-title">
        - {{ event.title }}
      </div>
    </div>
  </div>
</ng-template>