<div class="table-container" style="margin-top: 100px; text-align: center;padding-bottom: 60px; overflow: auto;">
  <a type="submit" routerLink="/membresia/create" class="btn btn-primary">Nuevo Membresia</a>
  <a type="submit" (click)="mostrarFormulario()" class="btn btn-primary" style ="margin-left: 5px;">Asignar Membresia</a>
  <div class="container d-flex justify-content-center" >
    <div class="row" style="margin-top: 30px;">
      <app-create-membresia-usuario *ngIf="viewFormulario" [asignar]="viewFormulario"></app-create-membresia-usuario>
    </div>
  </div>
  <table class="table table-bordered " style="width: 80%; margin: 0 auto;">
    <thead class="table-head">
      <tr class="bg-success text-white">
        <th>Sr</th>
        <th scope="col">Nombre</th>
        <th scope="col">Beneficios</th>
        <th scope="col">Precio</th>
        <th scope="col">vigente</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membresia of membresias; let srNo  = index">
        <td>{{srNo +1}}</td>
        <td>{{ membresia.nombre }}</td>
        <td [innerHTML]="membresia.beneficios"></td>
        <td>{{membresia.costo}}</td>
        <td>{{membresia.vigente}}</td>
        <td>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Acciones
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a type="submit" class="dropdown-item"(click)="deleteMembresia(membresia.nombre)">Eliminar</a></li>
              <li><a class="dropdown-item" (click)="editarMembresia(membresia.nombre)">Editar</a></li>
              <li><a class="dropdown-item" href="#">Inhabilitar</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
